h2 {
    color: darkorange; 
}
p {
    color:lightyellow;
} 
form {
    color: lightyellow;
} 
.top{
    background-color: darkred;
    color: lightyellow;
}
header h1 {
    color: orangered; 
    text-shadow: 1px 2px black; 
}
footer p {
        background-color: lightcoral;
}
.wrapper{
    background-color: firebrick;
}
.diceColor{
    color: orangered;
    background-color: black;
}
div {
    color: orange;
}
body{
    background-color: #000;
}