h1 {
    font: 30px/18px arial, sans-serif; 
}
h2 {font: 16px arial, sans-serif; 
    text-align: center; 
    font-variant: small-caps;
}
p {
    font: 12px/14px arial, sans-serif;
} 
form {
    font: 12px/10px arial, sans-serif;
} 
header {
    max-width: 60%;
    margin: auto;
}
footer {
    text-align: center; 
    margin: auto;
    padding: 20px 0;
    clear: left;
}
.top{
    padding: 10px 0px 5px 0px;
}
header h1 {
    font: 30px/18px arial, sans-serif;  
    text-align: center; 
    padding: 10px 0px;
}
footer p {
        padding: 10px;
}
.wrapper{
    padding: 10px;
}
.dice {
    background-repeat:no-repeat;
    width: 48px;
    height: 48px;
    text-indent:0.4em;
    font-weight:bold;
    list-style:none;
    display:inline-block;

    }
.diceColor {
    margin:0.6em 0 0.5em 1.1em;
    display:inline-block;
    box-sizing: border-box;
    padding-top: 4px;
    width: 20px;
    height: 20px;
    border-radius: 50%;

}

ul{
  padding:0;
}
.n4{
 background-image:url(http://icons.iconarchive.com/icons/iconcubic/dnd-dice/48/d4-icon.png); 
}
.n6{
 background-image:url(http://icons.iconarchive.com/icons/iconcubic/dnd-dice/48/d6-icon.png); 
}
.n8{
 background-image:url(http://icons.iconarchive.com/icons/iconcubic/dnd-dice/48/d8-icon.png); 
}
.n10{
 background-image:url(http://icons.iconarchive.com/icons/iconcubic/dnd-dice/48/d10-icon.png); 
}
.n12{
 background-image:url(http://icons.iconarchive.com/icons/iconcubic/dnd-dice/48/d12-icon.png); 
}
.n20{
 background-image:url(http://icons.iconarchive.com/icons/iconcubic/dnd-dice/48/d20-icon.png); 
}


div {
    font: 12px/14px arial, sans-serif;
    padding: 2px;

}
.theme{
  background-color:white;
}
/*
Die
*/
.mothDice {
    color: red;
    background-color: black;
}
.nesDice {
    color: mediumseagreen;
    background-color: paleturquoise;
}
.fooDice {
    color: black;
    background-color: orangered;
}
.uniDice{
    color: aqua;
    background-color: violetred;
}

/*
Below is for column heights.
*/
.inside-full-height {
  /*
  // if you want to give content full height give him height: 100%;
  // with content full height you can't apply margins to the content
  // content full height does not work in ie http://stackoverflow.com/questions/27384433/ie-display-table-cell-child-ignores-height-100
  */
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
@media (min-width: 992px) {
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-md-top {
    vertical-align: top;
  }
  .col-md-middle {
    vertical-align: middle;
  }
  .col-md-bottom {
    vertical-align: bottom;
  }
}
@media (min-width: 1200px) {
  .row-lg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-lg-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-lg-top {
    vertical-align: top;
  }
  .col-lg-middle {
    vertical-align: middle;
  }
  .col-lg-bottom {
    vertical-align: bottom;
  }
}