h2 {
    color: black; 
}
p {
    color: whitesmoke;
} 
form {
    color: #A7FCF4;
} 
.top{
    background-color: dimgray;
    color: #A7FCF4;
}
header h1 {
    color: black; 
    text-shadow: 1px 2px darkred; 
}
footer p {
        background-color: dimgray;
    color: whitesmoke;
}
.wrapper{
    background-color: darkgray;
}
li {
    color: mediumturquoise;
    background-color: paleturquoise;
}
div {
    color: ;
}
body{
    background-color: black;
}