h2 {
    color: red; 
}
p {
    color: whitesmoke;
} 
form {
    color: #A7FCF4;
} 
.top{
    background-color: black;
    color: red;
}
header h1 {
    color: whitesmoke; 
    text-shadow: 1px 2px red; 
}
footer p {
        background-color: dimgray;
    color: whitesmoke;
}
.wrapper{
    background-color: #303030;
}
.diceColor{
    color: red;
    background-color: black;
}
div {
    color: red;
}
body{
    background-color: #4D4A4A;
}