h2 {
    color: #2FEDDA; 
}
p {
    color: paleturquoise;
} 
form {
    color: #A7FCF4;
} 
.top{
    background-color: #031D29;
    color: #A7FCF4;
}
header h1 {
    color: aquamarine; 
    text-shadow: 1px 2px #A63BFF; 
}
footer p {
        background-color: darkturquoise;
    color: lightcyan;
}
.wrapper{
    background-color: mediumturquoise;
}
li {
    color: mediumseagreen;
    background-color: paleturquoise;
}
div {
    color: ;
}
body{
    background-color: #0D364D;
}
