h1 {
    font: 30px/18px arial, sans-serif; 
}
h2 {font: 16px/4px arial, sans-serif; 
    color: azure; 
    text-align: center; 
    font-variant: small-caps;
}
p {
    font: 12px/14px arial, sans-serif;
    color:azure;
} 
form {
    font: 12px/10px arial, sans-serif;
    color: azure;
} 
header {
    max-width: 60%;
    margin: auto;

}
.top{
    background-color: darkturquoise;
    padding: 10px 0px 5px 0px;
    color: azure;
}
header h1 {
    font: 30px/18px arial, sans-serif; 
    color: paleturquoise; 
    text-align: center; 
    text-shadow: 1px 2px violetred; 
    background-color: ;
    padding: 10px 0px;
}
footer {
    max-width: 60%;
    text-align: center; 
    margin: auto;
    padding: 20px 0;
    clear: left;

}
footer p {
        background-color: teal;
        padding: 10px;
}
.bottom{
    margin: auto;

}
.wrapper{
    float: left;
}
.container{
//    margin: 10px 10px;
//    padding: 20px;
    background-color: lightseagreen;
    display: inline-block;
}
li {
    color: aqua;
    display:inline-block;
    list-style: none;
    padding: 2px;
    box-sizing: border-box;
    padding-top: 10px;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
    background-color: violetred;
}
div {
    color: pink;
    font: 12px/14px arial, sans-serif;
    padding: 2px;
}
