h2 {
    color: azure; 
}
p {
    color:azure;
} 
form {
    color: azure;
} 
.top{
    background-color: darkturquoise;
    color: azure;
}
header h1 {
    color: paleturquoise; 
    text-shadow: 1px 2px violetred; 
}
footer p {
        background-color: teal;
}
.wrapper{
    background-color: lightseagreen;
}
.diceColor{
    color: aqua;
   background-color: violetred; 
}
div {
    color: pink;
}
